<div class="wrapper">
  <h1>About Us</h1>
  <br /><br />
  <p>
    At BubbleBrew Supply, we’re passionate about bringing the best ingredients and tools to bubble tea businesses and enthusiasts alike. Whether you're a café owner looking for premium quality supplies or a home brewer eager to craft the perfect cup, we’ve got everything you need from tapioca pearls and flavored syrups to high quality tea leaves and sealing machines.
  </p>
  <br />
  <p>
    Our mission is to make bubble tea crafting easy, fun, and accessible by providing top tier products at competitive prices. With a commitment to quality, innovation, and customer satisfaction, we strive to be your go to source for all things bubble tea.
  </p>
  <br />
  <p>
    Join us in brewing up something special one sip at a time!
  </p>
  <br />
</div>
